# Atmel MCHP V1 SERCOM SPI

# Copyright (c) 2017 Google LLC.
# SPDX-License-Identifier: Apache-2.0

config SPI_MCHP_V1
    bool "Microchip MCHP V1 series SERCOM SPI driver"
    default y
    depends on DT_HAS_MCHP_V1_SPI_ENABLED
    select DMA if SPI_ASYNC
    help
      Enable support for the Microchip MCHP V1 series SERCOM SPI driver.


menu "SPI ASYNC SELECTION"
  depends on SPI_MCHP_V1 && SPI_ASYNC

choice 
    prompt "Select Async Mode Interrupt or DMA"
    default SPI_MCHP_INTERRUPT_DRIVEN
    help
      Choose between interrupt-driven or DMA mode for the MCHP SPI driver.

    config SPI_MCHP_INTERRUPT_DRIVEN
    bool "Interrupt-Driven"
    help
      Enables interrupt support for MCHP SPI driver.

    config SPI_DMA_DRIVEN
    bool "DMA"
    help
      Enables DMA support for MCHP SPI driver.
endchoice
endmenu